*{
  font-family: 'Montserrat', sans-serif;
  margin: 0px
}  

.grid-container{
  margin:0;
  display:grid;
  grid-template-columns: 1.1fr 4fr 1.3fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "header    header header"
    "sidebar   main   sidebar2"
    "footer    footer footer";
}
main{
  grid-area: main;
  padding-top: 20px;
  background-color: rgba(62, 158, 221, 0.658);
  padding: 10px;
}

html {
  background-color: #D5EFF5;
  font-size: 20px;
}

h1 {
  color: #0D9DE8;
  text-align: center;
}
li {
  margin-left: 20px;
}
h2 {
  list-style-type: none;
  font-weight: bolder;
}

.special {
  color: red
}

/* when they're in the same hiearchy*/
h2 + dl {
  font-size: 90%;
}

a:link {
  text-decoration: none;
}



a:hover {
  text-decoration: underline;
}

/*
body h1 + p .special {
}

This will style any element with a 
class of special, which is inside a <p>, which comes just after an <h1>, which is inside a <body>

*/

header{
  grid-area: header;
  background-color: rgb(27, 27, 27);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float:right;
  padding:7px;

}

.logo{
  float:left;
  cursor: pointer;
}
#search {
  float:right;
  border-radius: 20px;
}
nav ul{
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  font-size: medium;
 
}
nav ul a:hover{
  background: red;
}

nav ul a{
  color:white;

}
nav ul li{
  display: inline-block;
  position: relative;
}

.dropMenu{
  display: none;
  background-color: rgb(0, 0, 0);
  opacity: 0.88;
  color:white;
  text-decoration: none;
  position: absolute;
  border-radius: 6px;
  padding-top: 12px;
  margin-bottom: 5px;
}

.listHover:hover ul{
  display:block;
}

.dropMenu li a:hover{
  background: red;
 
}
.dropMenu li{
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer{
  grid-area: footer;
  background-color: black;
  color:white;
}



.sidebar-left{
  grid-area: sidebar;
}

.sidebar-right{
  grid-area: sidebar2;
}

/* Social media icons */

.social{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socialButton{
  height: 60px;
  width: 60px;
 
  margin: 0px;
  background:#fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  
}
.socialButton:nth-child(1):hover .icon{
  background: #4267B2;
}
.socialButton:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.socialButton:nth-child(3):hover .icon{
  background: #E1306C;

}
.socialButtonn:nth-child(4):hover .icon{
  background: #ff0000;
}
.socialButton:hover{
  width: 200px;
}

/*add white background to icon upon hover*/
.socialButton:hover .icon i{
  color: #fff;
}
.socialButton:hover .socialName{
  display: block;
}
.socialButton .icon{
  display:inline-block;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  box-sizing: border-box;
  /* use to make elements space further or closer to each other */
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.socialButton .icon i{
  font-size: 25px;
  line-height: 60px;
}

.socialName{
  display:none;
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}