*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px
  }  
  
  .grid-container{
    margin:0;
    display:grid;
    grid-template-columns: 1.1fr 4fr 1.3fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
      "header    header header"
      "sidebar   main   sidebar2"
      "footer    footer footer";
  }
  main{
    grid-area: main;
    padding-top: 20px;
    background-color: rgb(233, 249, 255);
    padding: 10px;
  }
  
  html {
    background-color: #D5EFF5;
    font-size: 20px;
  }
  
  h1 {
    color: #0D9DE8;
    text-align: center;
  }
  li {
    margin-left: 20px;
  }
  h2 {
    list-style-type: none;
    font-weight: bolder;
  }
  
  .special {
    color: red
  }
  
  /* when they're in the same hiearchy*/
  h2 + dl {
    font-size: 90%;
  }
  
  a:link {
    text-decoration: none;
  }
  
  
  
  a:hover {
    text-decoration: underline;
  }
  
  /*
  body h1 + p .special {
  }
  
  This will style any element with a 
  class of special, which is inside a <p>, which comes just after an <h1>, which is inside a <body>
  
  */
  
  header{
    grid-area: header;
    background-color: rgb(27, 27, 27);
  }
  
  header::after {
    content: '';
    display: table;
    clear: both;
  }
  
  nav {
    float:right;
    padding:7px;
  
  }
  
  .logo{
    float:left;
    cursor: pointer;
  }
  #search {
    float:right;
    border-radius: 20px;
  }
  nav ul{
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    font-size: medium;
   
  }
  nav ul a:hover{
    background: red;
  }
  
  nav ul a{
    color:white;
  
  }
  nav ul li{
    display: inline-block;
    position: relative;
  }
  
  .dropMenu{
    display: none;
    background-color: rgb(0, 0, 0);
    opacity: 0.88;
    color:white;
    text-decoration: none;
    position: absolute;
    border-radius: 6px;
    padding-top: 12px;
    margin-bottom: 5px;
  }
  
  .listHover:hover ul{
    display:block;
  }
  
  .dropMenu li a:hover{
    background: red;
   
  }
  .dropMenu li{
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  footer{
    grid-area: footer;
    background-color: black;
    color:white;
  }
  
  
  
  .left-sidebar{
    grid-area: sidebar;
    background-color: white;
  }
  
  .right-sidebar{
    grid-area: sidebar2;
    background-color: white;
  }
  
  /* Social media icons */
  
  .social{
    position: fixed;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-245px, 0);

    a{
        color: black;
        background: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        display: block;
        margin: 5px;
        padding: 20px;
        width: 300px;
        text-align: right;
        border-radius: 50px;
        transition: 0.7s;
        transition-property: transform;
        
      }
    a:hover{
    transform: translate(140px, 0);
    text-decoration: none;
    }
    i{
    margin-left: 10px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    }  
  }

                             
.fb-like{
    transform: translate(5%, -30%);
    
  }